/* .........................................box-sizing rules..................................... */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* .........................................box-sizing rules..................................... */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
/* ...................................................navbar................................ */
.navbar {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.ZenitusLogo {
  height: 50px;
}
.nav-link {
  color: hsl(212, 90%, 33%);
  font-weight: bold;
  margin-left: 20px;
}
.nav-link:hover {
  color: #fa7e00;
}

/* .........................................home..................................... */
.zenitus {
  color: hsl(212, 90%, 33%);
  font-size: 7vw;
  font-weight: bold;
  margin-top: -5vw;
  line-height: 2vw;
}
.Technologies {
  font-size: 5vw;
  font-weight: bold;
  background-image: linear-gradient(45deg, #fa7e00, #c73327);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.IT {
  font-size: 4vw;
  font-weight: bold;
  line-height: 2vw;
}
.Home_Para {
  font-size: 1.5vw;
  color: #7a7a7a;
}
.ctn {
  padding: 8px 15px;
  background-image: linear-gradient(to right, #fa7e00, #ff6456);
  border-radius: 30px;
  color: whitesmoke;
  font-weight: bold;
  line-height: 4vw;
}
.bg-cover {
  background-image: url(../Images/HomeB@2x.png);
  /* background-position: bottom !important; */
  background-repeat: no-repeat;
  background-size: 100%;
  
  /* background-attachment: fixed; */
  height: auto;
  position: relative;
}

/* ........................................................tokyo............................................... */

.Line {
  background-image: url(../Images/Line.png);
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-size: cover;
  width: 100%;
  height: auto;
}
.heading {
  color: #fa7e00;
  font-weight: bold;
}
.heading img {
  height: 25px;
}
.Logo h1 {
  display: flex;
}
.customer {
  color: #7a7a7a;
}
p {
  color: #3c3b3b;
}
.Slogo {
  vertical-align: middle;
  float: right;
}
.miniLogo {
  width: 40px;
  height: 40px;
  margin-right: 0px;
}

.heading {
  display: inline-block;
}
.how-section1{
  margin-top:-10%;
  padding: 10% 15% 4% 15%;
}
.how-section1 h4{
  color: #fa7e00;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: black;
  font-size: 24px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 80%;
}

/* .......................................................service............................................... */
.intro {
  text-align: center;
}
.service-box {
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 3px 0px 0 blue, 0 3px 2px 0 #9b9b9b;
}
.Maintenance-box {
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 3px 0px 0 blue, 0 3px 2px 0 #9b9b9b;
}
.solutions-para {
  text-align: left;
  font-size: 14px;
}
.service-box p {
  color: #7a7a7a;
}
.Maintenance-box p {
  color: #7a7a7a;
}
#Service {
  background-image: url(../Images/ServiceBG.png);
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-size: cover;
  width: 100%;
  height: auto;
}

/* .......................................................product............................................... */

.ClaimZ-box {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 3px 0px 0 blue, 0 3px 1px 0 #9b9b9b;
}
.ClaimZ-box p {
  color: #7a7a7a;
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
}
.product_line {
  background-image: url(../Images/product_line.png);
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-size: cover;
  width: 100%;
  height: auto;
}
b,
strong {
  color: #fa7e00;
}

/* .................................join team............................ */

.JoinBG {
  background-image: url(../Images/Join_bgImage@2x.png);
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 5vw;
}
.map-btn {
  box-shadow: 0px 0px 1px 1px #fa7e00, 0 1px 1px 0 #fa7e00, 0 1px 1px 0 #fa7e00;
  border-radius: 20px;
  color: #fa7e00;
}

/* ......................................................representative.................................... */


.leadercard {
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 3px 0px 0 blue, 0 3px 0px 0 #9b9b9b;
}
.leadercard-title {
  font-weight: bold;
}
.leadercard img {
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 25%;
}
.leadercard-body h6 {
  font-size: 15px;
}
.leadercard-body img {
  margin-left: 90%;
}
.leadercard p {
  color: #7a7a7a;
}


/* .......................................................article.................................................. */

.Article-box {
  height: 725.76px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 1px 0px 0 #9b9b9b, 0 1px 2px 0 #9b9b9b;
}
.more img {
  height: 20px;
  vertical-align: middle;
  display: flex;
}
.more {
  display: inline-block;
  color: black;
  margin-top: 10vw;
  margin-left: 20px;
}
.jan {
  margin-top: 2vw;
  margin-left: 1vw;
  color: #000;
}
.customer1 {
  color: #7a7a7a;
  margin-left: 1vw;
}
.Article-box h2 {
  margin-left: 1vw;
}
/* ........................................................Aboutus.......................................... */

.AboutBG {
  background-image: url(../Images/AboutBG@2x.png);
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-size: cover;
  width: 100%;
  height: auto;
}
.media img {
  height: 30px;
}
.AboutHeading {
  font-weight: bold;
  font-size: 20px;
}
.AboutHeading img {
  height: 30px;
}
#footer {
  background-color: black;
  color: white;
}
.bottom {
  margin-left: 576px;
  text-decoration: underline;
  color: white;
}
.cookies {
  text-decoration: underline;
  color: white;
  margin-left: 14.4px;
}
.media {
  display: flex;
}

/* ...................................................contact.......................................... */

.careerBG {
  background-image: url(../Images/CareerBG@2x.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
}
.Contact-para {
  color: white;
  font-size: 14px;
  text-align: center;
}
.Contact {
  color: white;
  text-align: center;
  margin-top: 9vw;
}
.box {
  display: flex;
}
/* .Contact-intro {
  margin-top: -8vw;
} */
.phone h5 {
  margin-top: 0.8vh;
  margin-left: 1vw;
}
.private {
  margin-left: 1vw;
}
.middle h4 {
  text-align: center;
  color: #fa7e00;
}
.map-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 0px 0px 0 #9b9b9b, 0 0px 2px 0 #9b9b9b;
  text-align: center;
  transition: all ease-in-out 0.3s;
}
/* ............................................................... */

.con {
  border-radius: 1em;
  text-align: center;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 3px 0px 0 blue, 0 3px 2px 0 #9b9b9b;
}
.con .card-title {
  font-weight: 700;
  font-size: 1.5em;
}
.con .btn {
  border-radius: 2em;
  box-shadow: 0px 0px 1px 1px #fa7e00, 0 1px 1px 0 #fa7e00, 0 1px 1px 0 #fa7e00;
  border-radius: 20px;
  color: #fa7e00;
}
.con .btn:hover {
  color: #fa7e00;
  box-shadow: 0px 0px 1px 1px #fa7e00, 0 1px 1px 0 #fa7e00, 0 1px 1px 0 #fa7e00;
  border-radius: 20px;
}
/* ................................................career................................... */

.java {
  background-color: #f5f4ff;
  width: 70vw;
  text-align: left;
}
.pinch-box {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #9b9b9b, 0 1px 0px 0 #9b9b9b, 0 1px 2px 0 #9b9b9b;
  /* width: fit-content; */
  padding: 0.5em;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-image: url(../Images/dropdown@2x.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 98%;
}
.DownArrow img {
  height: 40px;
  padding-left: 50vw;
  margin-top: 7vw;
}

.careerDropDown {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-image: url(../Images/dropdown@2x.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 98%;
}

.career-collapse {
  width: 70vw;
  padding: 0.2em;
}
/* .................................remove somethings in smallscreens............................ */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ........................................media queri for below 1200................................... */
@media (min-width: 2100px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2100px;
    }
    .mobile{
      float: right;
      width:800px;
      height:800px;
      margin-left:15px;
    }

}


@media screen and (max-width: 991px) {
  .careerBG {
    min-height: 40vh !important;
  }
  #home{
    min-height: 10vh;
  }
  .product_line {
    background-image: none !important;
  }
  .Line {
    background-image: none !important;
  }
  .rep {
    width: auto !important;
    margin-left: 0px !important;
  }
  .representative-responsive {
    height: auto !important;
    margin-left: 0px !important;
  }
  .ourrep {
    margin-left: 0px !important;
  }
  .representative-box {
    width: auto !important;
  }
  .Article-box {
    height: auto !important;
  }
  .ClaimZ-box {
    background-color: transparent !important;
  }
  .AboutBG {
    background-image: none !important;
  }
  .AboutBG br {
    content: "";
  }
  .bottom {
    margin-left: 30px !important;
  }
  .customer br {
    content: "";
  }
  .ctn {
   display: none;
  }
  .DownArrow img {
    display: none !important;
  }
  #footer {
    display: none !important;
  }
  .miniLogo {
    margin-top: 2px;
    height: 30px;
    width: 30px;
  }
  .contact-box {
    height: auto !important;
  }
  .con {
    width: 18rem;
  }
  .servicebg {
    padding: 0px !important;
  }
  .repmd {
    padding: 0 2em 0 2em !important;
  }
  .pro-img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .careerBG {
    min-height: 35vh !important;
  }
  .JoinBG {
    margin-top: 0px !important;
  }
  .JoinBG br {
    content: "";
  }
  /* .bg-cover {
    min-height: 35vh !important;
  } */
  .zenitus {
    margin-top: -18vw;
    line-height: 1vw;
  }
  .IT{
    line-height: 0.2vw;
  }
  .Contact {
    margin-top: 0px !important;
  }
  .Contact-para {
    font-size: 10px !important;
  }
  .contact-box {
    height: auto !important;
  }
}

/* ....................................................home....................................................... */
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /*background: url("../img/hero-bg.jpg") top center;*/
  /* background: url("../img/sitebg.png") top center; */
  background: url("../Images/HomeBG@2x.png") center center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  /*background: rgba(255, 255, 255, 0.8);*/
  /* background: rgba(255, 255, 255, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 80px;
}
.mobile{
  float: right;
  width:600px;
  height:600px;
  margin-left:15px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  .mobile{
    float: right;
    width:500px;
    height:500px;
    margin-left:15px;
  }
}

@media (max-width: 992px), (max-height: 500) {
  #hero {
    height: auto;
  }
  .mobile{
    float: right;
    width:200px;
    height:200px;
    margin-left:15px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 766px), (max-height: 500) {
  #hero {
    height: auto;
  }
  .mobile{
    float: right;
    width:150px;
    height:150px;
    margin-left:15px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
